<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <button type="button" class="btn btn-primary">Pay My Buddy</button>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
<!--                        active" aria-current="page"-->
                        <a id="home" class="nav-link" href="/"  th:classappend="${#strings.isEmpty(currentPage)}? 'current-page'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="transactions" class="nav-link" href="/transactions" th:classappend="${currentPage == 'Transfer'}? 'current-page'">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a id="profile" class="nav-link" href="/profile" th:classappend="${currentPage == 'Profile'}? 'current-page'">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a id="contacts" class="nav-link" href="/contacts" th:classappend="${currentPage == 'Contact'}? 'current-page'">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log off</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>