@import "styles.css";

form#contact {
    width: 100%;
    height: fit-content;
    padding: 2rem;
    margin-top: 0.5rem !important;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
}

.thead {
    background-color: var(--color-primary) !important;
}
tr.thead th {
    height: 4rem;
    padding-bottom: 1.5rem;
    background-color: inherit;
    color: #ffffff;
}
thead, tbody {
    text-align: center;
}
.th-email {
    width: 50%;
}

a {
    position: relative;
}

a[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -15%;
    left: 120%;
    width: 8rem;
    font-size: 0.9rem;
    color: white;
    background-color: black;
    padding: 0.2rem;
    border-radius: 5px;
}