.outer-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f0f2f5;
}
.inner-wrapper {
    max-width: fit-content;
    margin: auto;
}
.card {
    height: 400px;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    box-shadow: 1px 3px 9px 0 #717171;
}

.item.footer {
    margin-top: 2rem;
}

.btn {
    width: 140px;
}
.my-btn, .my-btn:hover {
    color: #fff;
    background-color: #3be722;
    cursor: default;
}

input.form-control {
    width: 350px !important;
    padding-left: 2rem;
}

/* ICONS */
.input-wrapper:nth-child(1) {
    margin-bottom: 2rem;
}
.input-wrapper {
    position: relative;
}
i.icon {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    left: 2%;
}
i.icon.email {
    color: #b1acac;
}

/* Register Link */
.register {
    display: flex;
}
p {
    margin: 1rem auto;
}
a.register-link {
    text-decoration: none;
    font-weight: 800;
    color: #3be722;
}
a.register-link:hover {
    font-size: large;
}