.pwd-policy {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px black solid;
}
.requirement-title {
    font-weight: 500;
    padding-bottom: 1rem;
}
.requirement-list {
    margin: 0;
    padding: 0;
}
.requirement-list li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.requirement-list li i{
    font-size: 0.5rem;
    color: #f15050;
    width: 0.5rem;
}
.requirement-list li span {
    margin-left: 0.5rem;
    color: #f15050;
}
.requirement-list li.valid i {
    font-size: 1rem;
    color: #3be722;
}
.requirement-list li.valid span {
    margin-left: 1rem;
    color: #3be722;
}