:root {
    --color-primary: #5CB85C;
    --color-primary-hover: #4d9f4d;

    --color-secondary: #0275D8;
    --color-secondary-hover: #178cf4;

    --color-bg: #F2F2F2;
    --color-border: #cacaca;

    --color-credit: #45c33c;
    --color-debit: #e36c6c;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /*gap: 2rem;*/
}

main {
    flex-grow: 1;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    padding: 10px;
    align-self: flex-end;
}

/* GLOBAL CLASSES */
.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}
.btn-primary:hover {
    background-color: var(--color-primary-hover) !important;
}
.btn-secondary {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
}
.btn-secondary:hover {
    background-color: var(--color-secondary-hover) !important;
}
.btn-wide {
    margin-left: 1rem;
    width: 10rem;
}

.mt-2 {
    margin-top: 1rem !important;
}

.container {
    max-width: 1200px;
}