body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main {
    flex-grow: 1;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    padding: 10px;
    align-self: flex-end;
}

#navbarNav {
    flex-grow: 0;
}

.container {
    max-width: 1200px;
}