:root {
    --var-col-primary: #5CB85C;
    --var-col-primary-hover: #4d9f4d;

    --var-col-secondary: #0275D8;
    --var-col-secondary-hover: #178cf4;

    --var-col-bg: #F2F2F2;
    --var-col-border: #cacaca;

    --var-col-credit: #45c33c;
    --var-col-debit: #e36c6c;
}

.btn-primary {
    background-color: var(--var-col-primary) !important;
    border-color: var(--var-col-primary) !important;
}
.btn-primary:hover {
    background-color: var(--var-col-primary-hover) !important;
}
.btn-secondary {
    background-color: var(--var-col-secondary) !important;
    border-color: var(--var-col-secondary) !important;
}
.btn-secondary:hover {
    background-color: var(--var-col-secondary-hover) !important;
}

.mt-2 {
    margin-top: 1rem !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main {
    flex-grow: 1;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    padding: 10px;
    align-self: flex-end;
}

#navbarNav {
    flex-grow: 0;
}

.container {
    max-width: 1200px;
}