<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (title, links, scripts, content, currentPage)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:replace="${title}">Base layout title</title>
  <!-- Fontawesome -->
  <link rel="stylesheet" th:href="@{/libraries/fontawesome/css/fontawesome.css}"/>
  <link rel="stylesheet" th:href="@{/libraries/fontawesome/css/brands.css}"/>
  <link rel="stylesheet" th:href="@{/libraries/fontawesome/css/solid.css}"/>
  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{/libraries/bootstrap/bootstrap.min.css}">
  <script th:src="@{/libraries/bootstrap/bootstrap.min.js}" defer></script>
  <!-- Global CSS -->
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
  <!-- Other CSS -->
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/breadcrumb.css}">
  <th:block th:replace="${links}"/>
  <!-- JS -->
  <script th:src="@{/js/header.js}" defer></script>
  <!-- Other JS -->
  <th:block th:replace="${scripts}"/>
</head>
<body>

<header th:replace="~{/fragments/header}"></header>
<nav th:replace="~{/fragments/breadcrumb ::breadcrumb (currentPage=${currentPage})}"></nav>
<main>
  <div class="container">

    <div th:replace="~{/fragments/alerts}"></div>

    <section th:replace="${content}">
    <p>Base layout content</p>
    </section>

  </div>
</main>

<footer th:replace="~{/fragments/footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>