<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" th:href="@{/libraries/fontawesome/css/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/libraries/fontawesome/css/brands.css}"/>
    <link rel="stylesheet" th:href="@{/libraries/fontawesome/css/solid.css}"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/libraries/bootstrap/bootstrap.min.css}">
    <script th:src="@{/libraries/bootstrap/bootstrap.min.js}" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/password-policy.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/register.css}">
    <!-- JS -->
    <script th:src="@{/js/password-policy.js}" defer></script>
</head>
<body>

    <div class="outer-wrapper">
        <div class="inner-wrapper">
            <!-- Registration Form -->
            <form action="#" class="card" method="post"
                  th:action="@{/register/save}" th:object="${userRequest}">
                <!-- HEADER -->
                <div class="item header">
                    <button type="button" class="btn my-btn header">Pay My Buddy - Registration</button>
                </div>
                <!-- FORM -->
                <div class="item">
                    <!-- LASTNAME -->
                    <div class="input-wrapper">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="lastname"
                               aria-label="lastname" autofocus
                               th:field="*{lastname}" th:classappend="${#fields.hasErrors('lastname')}? 'is-invalid'">
                        <label for="lastname" hidden="">Lastname</label>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</div>
                    </div>
                    <!-- FIRSTNAME -->
                    <div class="input-wrapper">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname" aria-label="firstname"
                               th:field="*{firstname}" th:classappend="${#fields.hasErrors('firstname')}? 'is-invalid'">
                        <label for="firstname" hidden="">Firstname</label>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Firstname Error</div>
                    </div>
                    <!-- EMAIL -->
                    <div class="input-wrapper">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" aria-label="email"
                               th:field="*{email}" th:classappend="${#fields.hasErrors('email') || emailUsed != null}? 'is-invalid'">
                        <label for="email" hidden="">Email address</label>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                        <div class="invalid-feedback" th:if="${emailUsed != null}" th:text="${emailUsed}">Email Used Error</div>
                    </div>
                    <hr>
                    <!-- PASSWORD POLICY -->
                    <div class="password-policy" th:replace="~{/fragments/password-policy}"></div>
                    <!-- PASSWORD -->
                    <div class="input-wrapper pwd-field">
                        <input type="password" class="form-control" id="new-password" name="password" placeholder="Password" aria-label="password"
                               th:field="*{password}" th:classappend="${#fields.hasErrors('password')}? 'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                        <i class="fa-solid fa-eye" id="icon-new-pwd"></i>
                        <label for="new-password" hidden >Password</label>
                    </div>
                </div>
                <!-- SUBMIT -->
                <div class="item footer">
                    <button type="submit" class="btn btn-primary footer">Register</button>
                </div>
            </form>
            <!-- Login link -->
            <div class="login">
                <p>Have an account? <a class="login-link" th:href="@{/login}">Sign in</a></p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>